* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 50px;
  background-color: #807e00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  font-weight: 500;
  font-size: 24px;
  cursor: default;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #807e00;
  background-color: white;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #febb02;
}

@media (max-width: 768px) {
  .navbar {
    height: 50px; /* Keep height consistent */
    background-color: #807e00;
  }

  .navContainer {
    padding: 0 10px;
    justify-content: space-between;
  }

  .logo {
    font-size: 18px;
    position: static; /* Ensure it follows normal flow */
  }

  .navButton {
    margin-left: 0;
    padding: 5px 10px;
    margin-right: 5px;
  }
}
